#title{
    display: flex;
    justify-content: center;
    background-color: rgb(231, 135, 156);
    align-items: center;
    color: rgb(0, 0, 0);
    
  }

  @media (max-width:480px){
    #title{
        background-color: yellow;
        text-align: center;
    }
  
    #links{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    }
    #Menu{
        display: none;
    }
  .Intro{
    border: 2px solid green;

  }
  .Intro :nth-child(2){
    text-align: center;
  }
  #IMG1 {
    width: 100%;
  }
.AutorP{
    display: flex;
    justify-content: flex-start;
}
.Autor{
    text-align: center;
    width: 50%;
    
}
#Vespasiano{
    width: 100%;
}
.AutorP2{
    display: flex;
   justify-content: flex-end;

}
.Autor2{
    text-align: center;
    width: 50%;
}

#Cesar{
    width: 100%;
}
.AutorP3{
    display: none;
}
.Buttons{
    display: none;
}
.EnlacesT{
    display: flex;
   justify-content: flex-end;
   padding: 20px;
}
.Enlaces{
    border: 5px solid black;
    background-color: rgb(231, 135, 156);
    padding: 2px;
}
.EnlacesT1{
    display: none;
}

}
@media (min-width:480px){
    #title{
    display: flex;
    justify-content: center;
    background-color: rgb(231, 135, 156);
    align-items: center;
    color: rgb(0, 0, 0);
    
    }

    .Clink{
        display: flex;   
        border: 2px solid green;    
    }
    .LinkL{
        border: 2px solid;
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    .Intro{
        display: none;

    }
    
    #IMG1{
        width: 50%;
    }
    .AutorP{
        border: 2px solid grey;
    }
    .Autor{
        text-align: center;
    }
    #Vespasiano{
        width: 45%;
        padding: 10px;
    }
    .AutorP2{
        border: 2px solid grey;
    }
    .Autor2{
        text-align: center;
    }
    #Cesar{
        width: 58%;
        padding: 10px;
    }
    .AutorP3{
        border: 2px solid grey;
    }
    .Autor3{
        text-align: center;
    }
    #Augusto{
        width: 85%;
        padding: 15px;    
    }
    .Cautor{
        border: 2px solid red;
        display: flex;
        flex-direction: row;
    }
    #P{
        display: none;
    }
    .Buttons{
        display: flex;
        text-align: center;
        border: 2px solid blueviolet;
        background-color: aliceblue;
    }
    .ButtonB{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 33%;
    border: 2px solid gold;
    }
    #pantheon{
        width: 100%;
    }
    .ButtonB1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 33%;
        border: 2px solid gold;
    }
    #Fontana{
        width: 100%;
    }
    #PD{
        padding: 25px;
    }
    .ButtonB2{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        width: 33%;
        border: 2px solid gold;
    }
    #RR{
        width: 100%;
    }
    #PD1{
        padding: 18px;
    }
    .EnlacesT1{
        display: flex;
        padding: 10px;
    }
    .EnlacesT{
        display: none;
    }
    #P1{
        text-align: left;
        padding: 5px;
    }
    #P2{
        text-align: right;
        padding: 5px;
    }
    #links{
        border: 2px solid black;
    }
}